*.onnx
*.pyc
*.idea
*.pyo
*.pyd
*.ipynb
*.ipynb_checkpoints
.vscode/
.git/
.github/
.circleci/
.idea/
.vscode/
.vscode/**/*
.vscode/**/**/*
.vscode/**/**/**/*
**/.git/
**/.idea
**/__pycache__/
*.cpython-38.pyc
**/*.pyc
**/*.onnx
**/**/*.onnx
**/*.pyo
**/*.pyd
**/.ipynb_checkpoints
**/.git
**/.git/*
**/.git/**/*
**/.git/**/**/*
**/.git/**/**/**/*
TensorRT/NVIDIA TensorRT Tutorial repository/
/__pycache__
__pycache__/
/.vs/*
